<!DOCTYPE html>
<html>
<head>
  <title>
    {% if page.title %}
      {{ page.title }} &mdash; Ben Bleikamp
    {% else %}
      Ben Bleikamp &mdash; Design, Code, Beat Boxing
    {% endif %}
  </title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <script type="text/javascript" src="http://use.typekit.com/sng3dmb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <nav>
    <a id="logo"><img src="/images/ben.png" alt="Ben Bleikamp"></a>
    <ul>
      <li><a href="http://etc.bleikamp.com">Blog</a></li>
      <li><a href="#"><del>Experiments</del></a></li>
      <li><a href="#"><del>Talks</del></a></li>
      <li><a href="http://bleikamp.com" class="active">About</a></li>
    </ul>
  </nav>
